.buttons{
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 146px;
  height: 48px;
  border-radius: 25px;
  background: #F2F2F2;
  border: none;
  font-size: 0.9375rem;
}
.buttons:hover{
  border: 2px solid white;
  color: white;
}
.orange{
    color: var(--orange);
  }
.green{
    color: var(--green);
}
.darkGreen{
     color: var(--darkGreen);
}

.orange:hover {
  background-color: var(--orange);
}
.green:hover {
  background-color: var(--green);
}
.darkGreen:hover {
  background-color: var(--darkGreen);
}